<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photorama.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A103D4271E8D46D1007A6510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A103D43B1E8D46D2007A6510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A103D4461E8D46D2007A6510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
